:root {
    --container-padding: 10px;
    --input-margin-right: 5px;
}

body,
html {
    height: 100%;
    margin: 0;
    color: var(--vscode-foreground);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    font-family: var(--vscode-font-family);
    background-color: var(--vscode-editor-background);
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages {
    flex: 1;
    padding: var(--container-padding);
    overflow-y: auto;
}

.input-box {
    display: flex;
    padding: var(--container-padding);
    align-items: center;
}

input[type="text"],
input[type="file"] {
    flex: 1;
    margin-right: var(--input-margin-right);
}

textarea {
    width: calc(100% - 250px);
    height: 50px;
    margin-right: var(--input-margin-right);
    resize: none;
}